/* <div class="main">
  <div class="minus"></div>
  <div class="plus"></div>
</div> */
body {
    margin: 0;
    background: #F5D6B4;
    display: grid;
    place-items: center;
}

.main {
    width: 150px;
    height: 150px;
    background: #D86F45;
}

.plus {
    background: #D86F45;
    width: 50px;
    height: 250px;
    position: relative;
    top: -100px;
    left: 50px;
}

.minus {
    background: #D86F45;
    width: 250px;
    height: 50px;
    position: relative;
    top: 50px;
    left: -50px;
}