/* <div class="box"></div>
<div class="rounded"></div> */
body {
    margin: 0;
    background: #E3516E;
    position: absolute;
    right: 0;
}

.box {
    width: 150px;
    height: 150px;
    background: #D9D9D9;
}

.rounded {
    width: 150px;
    height: 145px;
    background: #D9D9D9;
    border-bottom-left-radius: 95px;
    border-bottom-right-radius: 95px;
    transform: translate(-50px, -97px) rotate(45deg);
}