/* <div></div>
<div></div> */
body {
    margin: 0;
    background: #62306D;
    display: flex;
    justify-content: center;
    place-items: center;
}

div {
    width: 80px;
    height: 160px;
    background: #F7EC7D;
}

div:nth-child(1) {
    border-radius: 100px 0 50px 0;
}

div:nth-child(2) {
    border-radius: 0 100px 0 50px;
}