/* <div class="top-left circle"></div>
<div class="bottom-right circle"></div> */
* {
    margin: 0;
    background: #4F77FF;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 30px solid #FFF;
    position: relative;
}

.top-left {
    left: 60px;
    top: 60px;
}

.bottom-right {
    left: 240px;
    top: 40px;
}

.top-left::after,
.top-left::before,
.bottom-right::before,
.bottom-right::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
}

.top-left::after {
    left: -160px;
    border: 30px solid #fff;
    top: -160px;
}

.top-left::before {
    background: #FFFFFF;
    left: -30px;
    top: -30px;
    width: 50px;
    height: 50px;
    border-bottom-right-radius: 50px;
}

.bottom-right::before {
    background: #fff;
    right: -30px;
    bottom: -30px;
    width: 50px;
    height: 50px;
    border-top-left-radius: 50px;
}

.bottom-right::after {
    border: 30px solid #fff;
    right: -160px;
    bottom: -160px;
}