/* <div class="overlay"></div> */
body {
    margin: 0;
    background: #D5EDFC;
    display: grid;
    place-items: center;
}

.overlay {
    width: 240px;
    height: 100px;
    transform: translateY(20px);
    border: 40px solid #06487A;
    position: relative;
}

.overlay::after,
.overlay::before {
    content: '';
    position: absolute;
    background: #06487A;
}

.overlay::after {
    width: 180px;
    height: 40px;
    left: 30px;
    top: 30px;
}

.overlay::before {
    width: 40px;
    height: 80px;
    top: -120px;
    left: 100px;
}